.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-nav {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-nav.active {
  background-color: #007bff;
  color: #fff;
}

.content {
  padding: 20px;
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-control, .form-select {
  width: 30%;
}

.form-control {
  flex-grow: 1;
  margin-right: 10px;
}

.btn-primary {
  background-color: #f4a261; 
  border-color: #f4a261; 
}

/* Transaction Table Container */
.table-container {
  margin: 0 auto;
  max-width: 200vh; 
  padding: 0 20px; 
}

/* Transaction Table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff3cd; 
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f4a261; 
  color: white;
}

/* Pagination Container */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
  background-color: #f4a261; 
  color: white;
  border: none;
}

.page-info {
  margin: 0 10px;
  font-weight: bold;
}

.per-page-select {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding: 5px;
    align-items: center;
  }
  
  .per-page-select select {
    width: auto;
    padding: 5px;
    margin-left: 5px; 
  }

/* Uniform Image Size */
.transaction-image {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Statistics Section */
.statistics-section {
    margin-top: 20px;
    text-align: center; 
  }
  
  .statistics-section h2 {
    color: #333; 
    margin-bottom: 10px;
  }
  
  .statistics-card {
    background-color: #c7ea46; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 0 auto; 
  }
  
  .statistics-card p {
    margin: 0;
    margin-bottom: 10px;
  }
  
/* Chart Container */
.chart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff3cd; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
